POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

CONTAINER_REGISTRY=
VIRTUAL_HOST=
VIRTUAL_PORT=
LETSENCRYPT_HOST=
LETSENCRYPT_EMAIL=

CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=

HTTPS_TRUE=

EMAIL_HOST='smtp.yandex.ru'
EMAIL_PORT=465
EMAIL_USERNAME=
EMAIL_PASSWORD=
VERIFICATION_LINK=
USE_MAILDEV=